<%- include("header.ejs") %>

<p>Sorry, this page does not exist. You are welcome to browse our products:</p>
<a class="button" href="/" title="Back to products' list">Products</a>

<%- include("footer.ejs") %>