<%- include("header.ejs") %>

<h1>Not found</h1>
<p>
    Sorry, this page does not exits. Maybe you would like to see our upcoming tournaments?
    <a href="/" title="Upcoming tournaments">Click here</a>
</p>

<%- include("footer.ejs") %>