<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">

    <title>Pokemon tournament system</title>
</head>
<body>
    <div id="outerContainer">
    <h1>Pokemon tournament system</h1>
    <%if(user) {%>
        <p>Hi, <%=user.email%></p>
    <% } %>