<ul class="pagination">
    <% if(currentPage > 1) { %>
        <li class="page-item"><a class="page-link" href="<%=`${url}/${parseInt(currentPage)-1}${query}`%>" title="Previous page">
            Previous
        </a>
        </li>
    <% } %>

    <li class="page-item"><a class="page-link" href="<%=`${url}/${parseInt(currentPage)}${query}`%>"><%=currentPage%></a></li>

    <% if(currentPage < totalPages) { %>
        <li class="page-item"><a class="page-link" href="<%=`${url}/${parseInt(currentPage)+1}${query}`%>" title="Next page">
            Next
        </a>
        </li>
    <% } %>
</ul>