* {
    box-sizing: border-box;
}

table {
    width: 100%;
}

tr:nth-child(odd) td {
    background-color: #cccccc;
}

tr:nth-child(even) td {
    background-color: #eeeeee;
}

td {
    width: 30%;
    padding: 1%;
    margin: 0;
}

input {
    width: 100%;
}

button {
    margin: 10px;
}